@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  @apply min-h-screen bg-white text-gray-900 antialiased dark:bg-black dark:text-gray-100;
}

#root {
  @apply min-h-screen;
}
